In [71]:
import random as r

print(r.randrange(1, 10))

8

In [85]:
#Type casting
x = int(1)
y = int(2.8)
z = int("3")

print(x,y,z)

x = float(1)
y = float(2.8)
z = float("3")

print(x,y,z)

x = complex(1)
y = complex(2.8)
z = complex("3")

print(x,y,z)

x = str(1)
y = str(2.8)
z = str("3")

print(x,y,z)

1 2 3
1.0 2.8 3.0
(1+0j) (2.8+0j) (3+0j)
<class 'str'>
1 2.8 3

In [93]:
print("CAP450")
print('CAP450\n')

subject = "Artificial Intellegence and Intelligence System"
print(subject)

CAP450
CAP450

Artificial Intellegence and Intelligence System

In [95]:
bio = """My name is Subhadip Dey, a BCA graduate currently pursuing an MCA. 
I have strong skills in programming, data structures, algorithms, and DBMS, 
with hands-on experience in C++ and Python. I developed a Book Management System 
using C++ and completed the 'Google IT Automation with Python' course. 
Currently, I'm preparing for recruitment exams, including Infosys, and exploring 
a career in mobile application development. My passion for coding drives me to 
create efficient solutions and continuously enhance my skills. I enjoy problem-solving 
and aspire to work on innovative tech projects that make a difference."""

print(bio)

My name is Subhadip Dey, a BCA graduate currently pursuing an MCA.
I have strong skills in programming, data structures, algorithms, and DBMS,
with hands-on experience in C++ and Python. I developed a Book Management System
using C++ and completed the 'Google IT Automation with Python' course.
Currently, I'm preparing for recruitment exams, including Infosys, and exploring
a career in mobile application development. My passion for coding drives me to
create efficient solutions and continuously enhance my skills. I enjoy problem-solving
and aspire to work on innovative tech projects that make a difference.

In [145]:
Flower = "Red, Rose!"
print(Flower[6:8])

for x in "Flower":
    print(x,end="")

print("\n")
for x in "Subhadip":
    print(x, end="")

str = input("Enter a string")
for x in str:
    print(x)

print(len(str))

os
Flower

Subhadip

Enter a string color

c
o
l
o
r
5

In [149]:
txt = "FessingFess"
print("Fess" in txt)

txt = "FessingFess"
if "Fess" in txt:
    print("#####")

True
#####

In [155]:
txt = "FessingFess"
print("cha" not in txt)

True

In [181]:
age = 31
name = "My name is subhadip and my age is {}"
print(name.format(age))

quantity = 325
itemno = 91
price = 105
myorder = "I want {} pieces of item {}  for {} rupees"
print(myorder.format(quantity, itemno, price))

My name is subhadip and my age is 31
I want 325 pieces of item 91  for 105 rupees

In [185]:
#display name, college mobile number
name = "Subahdip"
age = 21
college = "LPU"
Ph = 1234567890
out = "Name: {}, Age: {}, College: {}, Ph: {}"
print(out.format(name, age, college, Ph))

Name: Subahdip, Age: 21, College: LPU, Ph: 1234567890

In [187]:
#placeholder with 0
quantity = 325
itemno = 91
price = 105
myorder = "I want to pay {2} rupees for {0} pieces of item {1}."

print(myorder.format(quantity, itemno, price))

I want to pay 105 rupees for 325 pieces of item 91.

In [201]:
txt = "Weather of \"Himachal Pradesh\" is cold."
print(txt)

Weather of "Himachal Pradesh" is cold.

In [203]:
#boolean
print("120 > 29")
print(120 == 29)
print(120 < 29)

120 > 29
False
False

In [215]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))

if(a > b):
    print(a, "is greater than", b)
else:
    print(b, "is greater than", a)

Enter a number:  5
Enter a number:  9

9 is greater than 5

In [227]:
a = int(input("Enter a number: "))

if(a % 2==0):
    print(a,"is even")
else:
    print(a,"is odd")

Enter a number:  9

9 is odd

In [243]:
a = int(input("Enter a number: "))

if a < 2:
    print("Not Prime")  
else:
    is_prime = True  
    for i in range(2, a):  
        if a % i == 0:
            is_prime = False
            break

    if is_prime:
        print("Is Prime")
    else:
        print("Not Prime")

Enter a number:  8

Not Prime

In [249]:
print(bool("Rahul"))
FirstVar = 7
print(bool(FirstVar))

True
True

In [251]:
a = 32
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

36
28
128
8.0
0
1048576
8

In [255]:
a = 32
print(a)

a += 3
print(a)

a -= 2
print(a)

a /= 8
print(a)

a *= 4
print(a)

a %= 4
print(a)

a **= 5
print(a)

a //= 4
print(a)

32
35
33
4.125
16.5
0.5
0.03125
0.0