In [ ]:
"""
Text Type: str

Numeric Type: int, float, complex

Sequence Type: list, tuple, range

Mapping Type: dict

Set Types: set, frozen set

Boolean Type: bool

Binary Types: bytes, bytearray, memoryview

None Type: NoneType
"""

In [59]:
num = 5
print(type(num))

data = 29.5
print(type(data))

data = 1j
print(type(data))

data = ["Apple", "Banana", "Cherry"]
print(type(data))

data = ("Apple", "Banana", "Cherry")
print(type(data))

data = {"Apple", "Banana", "Cherry"}
print(type(data))

data = frozenset({"Apple", "Banana", "Cherry"})
print(type(data))

data = True
print(type(data))

data = bytearray(5)
print(type(data))

data = memoryview(bytes(5))
print(type(data))

data = None
print(type(data))

data = str("Hello World")
print(type(data))

data = int(28)
print(type(data))

data = float(28.6)
print(type(data))

data = complex(78)
print(type(data))

data = 9587475304986528075648954390
print(type(data))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>

In [5]:
age = 21

def func():
    print("Age: ", age)

func()

Age:  21

In [11]:
Name = "Subhadip"

def func():
    name = "Elvis"
    print("Name: ", name)

func()
print("Name: ",Name)

Name:  Elvis
Name:  Subhadip

In [19]:
def func():
    global num
    num = 10

func()
print("Name: ", num)

Name:  10

In [21]:
num = 20
def func():
    global num
    num = 10

func()
print("Name: ", num)

Name:  10

In [63]:
data = 3 + 5j
data2 = 5j
data3 = -5j

print(type(data))
print(type(data2))
print(type(data3))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [65]:
x = 1
y = 2.8
z = 1j

a = float(x)
b = int(y)
c = complex(z)

print(a)
print(b)
print(c)

1.0
2
1j