In [66]:
newList = [x for x in range(10) if x < 5]
print(newList)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newList = [x.upper() for x in fruits]
print(newList)

for x in fruits:
    if(x != "banana"):
        print(x)
        
newList.sort()
print(newList)

nums = [5, 6, 1, 2, 9, 10, 3]
nums.sort()
print(nums)

nums.reverse()
print(nums)

nums = [50, 60, 10, 20, 19, 100, 30]
sorted_nums = sorted([x for x in nums if x < 50]) + [x for x in nums if x >= 50]
print(sorted_nums)


newList = ["hello" for x in fruits]
print(newList)
fruits = ["apple", "Banana", "Cherry", "Kiwi", "mango", "Grapes","apple"]
fruits.sort(key = str.lower)
print(fruits)

newList = fruits.copy()
print(newList)

[0, 1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
apple
cherry
kiwi
mango
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
[1, 2, 3, 5, 6, 9, 10]
[10, 9, 6, 5, 3, 2, 1]
[10, 19, 20, 30, 50, 60, 100]
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'apple', 'Banana', 'Cherry', 'Grapes', 'Kiwi', 'mango']
['apple', 'apple', 'Banana', 'Cherry', 'Grapes', 'Kiwi', 'mango']

In [102]:

# ---------------Tuples------------------

newList = ("apple", "banana", "apple")
print(newList)

print(newList[1])

y = list(newList)
y[1] = "cherry"
print(tuple(y))

y = list(newList)
y.append("orange")
print(tuple(y))

newT = ("apple", "banana", "apple")
y = ("orange",)
newT += y

print(newT)

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

for x in fruits:
    print(x)

('apple', 'banana', 'apple')
banana
('apple', 'cherry', 'apple')
('apple', 'banana', 'apple', 'orange')
('apple', 'banana', 'apple', 'orange')
apple
['banana', 'cherry', 'strawberry']
raspberry
apple
banana
cherry
strawberry
raspberry

In [124]:
tup1 = (1, 2, 3)
tup2 = ("apple", "banana", "cherry")

tup3 = tup1 + tup2
print(tup3)

tup1 = ("apple", "banana", "cherry")
tup2 = tup1 * 2
print(tup2)

tup = (1, 5, 2, 5, 3, 5)
print(tup.count(5))

(1, 2, 3, 'apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
3
{'cherry', 'apple', 'banana'}
{True, 2, 'banana', 'cherry', 'apple'}
{False, 1, 'banana', 'cherry', 'apple'}
5
{'apple', 'banana'} {1, 2, 3} {False, True}

In [158]:

#-------------------sets-------------------------

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

thisset = {"apple", "banana", "cherry", False, 1, 0}
print(thisset)

print(len(thisset))

set1 = {"apple", "banana"}
set2 = {1, 2, 3}
set3 = {True, False}

print(set1, set2, set3)

newSet = set(("apple", "banana", "cherry"))
print(newSet)

newSet.add("kiwi")
print(newSet)

newSet = {"apple", "banana", "cherry"}
newSet2 = {"mango", "papaya", "pineapple"}

newSet.update(newSet2)
print(newSet)

newSet.remove("banana")
print(newSet)

newSet.discard("banana")
print(newSet)

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

x = {"apple", "banana", "mango"}
y = {1, 2, 3, "apple"}
z = x.intersection(y)

print(z)

x.symmetric_difference_update(y)
print(x)

{'cherry', 'apple', 'banana'}
{True, 2, 'banana', 'cherry', 'apple'}
{False, 1, 'banana', 'cherry', 'apple'}
5
{'apple', 'banana'} {1, 2, 3} {False, True}
{'cherry', 'apple', 'banana'}
{'cherry', 'kiwi', 'apple', 'banana'}
{'papaya', 'apple', 'banana', 'pineapple', 'mango', 'cherry'}
{'papaya', 'apple', 'pineapple', 'mango', 'cherry'}
{'papaya', 'apple', 'pineapple', 'mango', 'cherry'}
{'a', 1, 2, 3, 'b', 'c'}
{'apple'}
{1, 2, 3, 'mango', 'banana'}

In [200]:
#--------------Dist-----------------
thisDist = {
    "brand" : "Mercedes-Benz",
    "model" : "EQS SUV",
    "year"  : 2024,
    "colors": ["red", "white", "blue"]
}

print(thisDist["year"])
print(len(thisDist))
print(type(thisDist))

x = thisDist["brand"]
print(x)

print(thisDist["colors"])

cars = {
    "brand" : "Mercedes-Benz",
    "model" : "EQS SUV",
    "year"  : 2024
}

x = cars.keys()

cars["color"] = "White"
print("After change: ", x)

x = cars.values()
print(x)

x = cars.items()
print(x)

if "brand" in cars:
    print(True)

if "hello" in cars:
    print(True)
else:
    print(False)

2024
4
<class 'dict'>
Mercedes-Benz
['red', 'white', 'blue']
After change:  dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Mercedes-Benz', 'EQS SUV', 2024, 'White'])
dict_items([('brand', 'Mercedes-Benz'), ('model', 'EQS SUV'), ('year', 2024), ('color', 'White')])
True
True
True
False

In [9]:
fruits = ("apple", "jackfruit", "banana", "lime")
(*red, brown) = fruits

print(red)
print(brown)
print(yellow)

['apple', 'jackfruit', 'banana']
lime
lime