In [3]:
print("Welcome to LPU")

Welcome to LPU

In [25]:
print("Name:    Subhadip")
print("Roll No: 55")
print("________________")
print("Course:  MCA")
print("Section: 2020")
print("________________")
print("Address: Bengal")
print("Pincode: 712103")
print("Mobile:  123")

Name:    Subhadip
Roll No: 55
________________
Course:  MCA
Section: 2020
________________
Address: Bengal
Pincode: 712103
Mobile:  123

In [27]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]

In [31]:
if 5 > 2:
    print("Greater")
else:
print("h")

IndentationError: expected an indented block after 'else' statement on line 3 (3724705521.py, line 4)

In [33]:
if 5 > 2:
    print("l")
        print("u")

IndentationError: unexpected indent (3764968548.py, line 3)

In [43]:
age = int(input("Enter age: "))
if(age <= 3):
    print("Free Entry")
elif (age > 3 & age <= 12):
    print("Child Ticket: Rs 250")
else:
    print("Adult Ticket: Rs 500")

Enter age:  3

Free Entry

In [45]:
#This is a comment
print("h")

h

In [47]:
"""Hello World"""
print("Hello")

Hello

In [51]:
age = 20
name = "Subhadip"
print(age)
print(name)

20
Subhadip

In [55]:
x = str(3)
y = int(4)
z = float(5)
print(x,y,z)

3 4 5.0

In [61]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [63]:
name = "subha"
name = 'subha'
print(name)

subha

In [69]:
b = 4
B = "Su"
print(b, B)

4 Su

In [73]:
x,y,z = "Oranges", "Mangos", "Apple"
print(x,y,z)

Oranges Mangos Apple

In [71]:
x = y = z = "Oranges"
print(x,y,z)

Oranges Oranges Oranges

In [75]:
fruits = ["Apple", "Orange", "Cherry"]
x,y,z = fruits
print(x,y,z)

Apple Orange Cherry

In [77]:
num1 = 20
num2 = 30
print(num1 + num2)

50